<div class="modalBackground">
    <button class="closeBtn"></button>
    <div class="modal">
        <h3 class="modal__header">{{header}}</h3>
        {{> Input/Input
            name="login"
            label="Логин"
        }}
        {{>Button/Button
            stylesType="submit"
            label="Добавить"
        }}
    </div>
</div>
