<div class='profile__inputWrapper'>
  {{{openModalBtn}}}
  {{#if avatarSrc}}
    <img src={{avatarSrc}} alt='Аватар' class='profile__avatar' />
  {{else}}
    <div class='profile__avatar profile__avatar_type_tooltip'></div>
  {{/if}}
</div>