---
header: "Добавить пользователя"
buttonName: "Добавить"
---

<html>
<head>
  <link rel="stylesheet" href="../../index.scss">
</head>
<body>
  <main class="mainGrid">
    {{> MessagesList/MessagesList}}
    {{> Chat/Chat chatName="Иван"}}
    {{> ModalWithTextInput/ModalWithTextInput
          header=header
          buttonName=header
    }}
  </main>
</body>
</html>
