---
id: "root" 
---
<html>
    <head>
        <script src="src/index.js" type="module"></script>
        <link rel="stylesheet" href="index.scss">
    </head>
    <body>
        <div id="{{ id }}">
            {{> Button label="Click me" }}
        </div>
    </body>
</html> 