<html>
<head>
  <link rel="stylesheet" href="../../index.scss">
</head>
<body>
  <main class="mainGrid">
    {{> MessagesList/MessagesList}}
    {{> Chat/Chat chatName="Иван" isChatSelected=false}}
  </main>
</body>
</html>
