<div class='messages'>
  <div class='messages__head'>
    {{{ProfileLink}}}
    <input type='text' class='messages__searchInput' placeholder='Поиск' />
  </div>
  <ul class='messages__list'>
    {{#each foundMessages}}
      {{{this}}}
    {{/each}}
    {{#each chats}}
      {{{this}}}
    {{/each}}
  </ul>
</div>
