<div class="modalBackground">
    <button class="closeBtn"></button>
    <div class="modal">
        <h3 class="modal__header">{{header}}</h3>
        <form class="modal__fileForm">
            <label class="modal__fileInputLabel" for="input">Выберите файл</label>
            <input name="input" id="input" type="file" class="modal__fileInput">
        </form>
        {{>Button/Button
            stylesType="submit"
            label="Добавить"
        }}
    </div>
</div>