<html>
<head>
  <link rel="stylesheet" href="../../index.scss">
</head>
<body>
  <main class="profile">
    {{>ProfileGoBackBtn/ProfileGoBackBtn}}
    <div class="profile__content">
        {{#if avatarSrc}}
            <img src={{avatarSrc}} alt="Аватар" class="profile__avatar">
        {{else}}
            <div class="profile__avatar profile__avatar_type_tooltip"></div>
        {{/if}}    
        <form class="editProfileForm">
            {{> Input/Input
                value=name
                type="password"
                name="oldPassword"
                label="Старый пароль"
                inputWrapperStyle="editProfileForm__inputWrapper"
                labelStyle="editProfileForm__inputLabel"
                inputStyle="editProfileForm__input"
                errorText="Обязательное поле"
                errorStyle="editProfileForm__inputError"
            }}
            {{> Input/Input
                value=surname
                type="password"
                name="newPassword"
                label="Новый пароль"
                inputWrapperStyle="editProfileForm__inputWrapper"
                labelStyle="editProfileForm__inputLabel"
                inputStyle="editProfileForm__input"
                errorStyle="editProfileForm__inputError"
            }}
            {{> Input/Input
                value=login
                type="password"
                name="newPasswordAgain"
                label="Повторите пароль"
                inputWrapperStyle="editProfileForm__inputWrapper"
                labelStyle="editProfileForm__inputLabel"
                inputStyle="editProfileForm__input"
                errorStyle="editProfileForm__inputError"
            }}
            {{>Button/Button
                type="submit"
                stylesType="submit"
                label="Сохранить"
                styles="editProfileForm__submitBtn"
            }}
        </form>
    </div>
  </main>
</body>
</html>
