<div>
  <li class='foundMessage'>
    {{#if avatarSrc}}
      <img src={{avatarSrc}} alt='' class='foundMessage_avatar' />
    {{else}}
      <div class='foundMessage__absentAvatar'></div>
    {{/if}}
    <p class='foundMessage__name'>{{name}}</p>
  </li>
</div>
