$color-main: #3369F3;
$color-error: #FF2F2F;
$color-white: #FFFFFF;
$color-gray: #999999;
$color-grayish: #EAEAEA;
$color-intermediate-gray: #EFEFEF;
$color-slightly-gray: #FBFBFB;
$color-dark: #1E1E1E;
$color-labaster: #F8F8F8;
$color-semi-transparent-gray: rgba(82, 82, 82, 0.5);
$color-almost-transparent-gray: rgba(0, 0, 0, 0.14);
$color-hawkes-blue: #E4EDFD;