$color-main: #3369F3;
$color-error: #FF2F2F;
$color-white: #FFFFFF;
$color-gray: #999999;
$color-grayish: #EAEAEA;
$color-intermediate-gray: #EFEFEF;
$color-slightly-gray: #FBFBFB;
$color-dark: #1E1E1E;