<div class="chatSettings">
    <button class="chatSettings__settingsBtn">
        <div class="chatSettings__middleSettingsDot"></div>
    </button>

    <ul class="chatSettings__list">
        <li class="chatSettings__item">
            <button class="chatSettings__actionBtn">
                Удалить чат
            </button>
        </li>
        <li class="chatSettings__item">
            <button class="chatSettings__actionBtn">
                Добавить пользователя
            </button>
        </li>
        <li class="chatSettings__item">
            <button class="chatSettings__actionBtn">
                Удалить пользователя
            </button>
        </li>
        <li class="chatSettings__item">
            <button class="chatSettings__actionBtn">
                Изменить аватар
            </button>
        </li>
    </ul>
</div>
