@import '../../styles/fonts/typography';
@import '../../styles/palette';

@mixin settings-dot {
  width: 3px;
  height: 3px;
  background-color: $color-dark;
  border-radius: 100%;
  margin: 0 auto;
}

.chatSettings {
  margin-left: auto;

  &__settingsBtn {
    margin: 0 10px 0 auto;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      outline: $color-dark solid 1px;
    }

    &::before {
      content: '';
      display: block;
      @include settings-dot;
    }

    &::after {
      content: '';
      display: block;
      margin-top: 1px;
      @include settings-dot;
    }
  }

  &__middleSettingsDot {
    @include settings-dot;

    margin: 3px auto;
  }

  &__list {
    display: none;
    position: absolute;
    top: 60px;
    right: 2%;
    background-color: $color-white;
    box-shadow: 0 0 6px $color-almost-transparent-gray;
    border-radius: 12px;

    &_open {
      display: block;
    }
  }

  &__actionBtn {
    padding: 15px;
    width: 100%;
    background-color: $color-white;
    margin: 0;
    color: $color-dark;

    &:hover {
      cursor: pointer;
      background-color: $color-almost-transparent-gray;
    }
  }
}
