<div class='chatSettings'>
  {{{openBtn}}}

  <ul {{#if isOpen}}class='chatSettings__list chatSettings__list_open'{{/if}} class="chatSettings__list">
    {{#each buttons}}
      <li class='chatSettings__item'>
      {{{this}}}
    </li>
    {{/each}}
  </ul>
</div>
