@import '../../styles/palette';
@import '../../styles/fonts/typography';

.anchorLink {
    @include small-thick;

    color: $color-main;
    opacity: 1;

    &:hover {
        transition: opacity 0.5s ease-in-out;
        opacity: .7;
    }
}
