<div class="modalBackground">
    <button class="closeBtn"></button>
    <div class="modal">
        <h3 class="modal__header">{{header}}</h3>
        {{>Button/Button
            stylesType="submit"
            label="Подтвердить"
        }}
    </div>
</div>
