<div class='newMessage'>
  {{{AttachmentBtn}}}
  {{{Form}}}
  {{! <button class="newMessage__attachmentBtn"></button>
    <form class="newMessage__form">
        <textarea name="message" id="message" class="newMessage__textArea" placeholder="Сообщение"></textarea>
        <button type="submit" class="newMessage__submitBtn">&#8594;</button>
    </form> }}
</div>
