@import '../../styles/fonts/typography';

.errorPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__error {
        @include superLargeThick;

        margin-bottom: 20px;
    }

    &__text {
        @include hugeThick;

        margin-bottom: 69px;
    }
}
