<html>
<head>
  <link rel="stylesheet" href="index.scss">
</head>
<body>
  <main>
    <ul>
      <li>
        <a href="./pages/SignInPage/SignInPage.hbs">Sign-in</a>
      </li>
      <li>
        <a href="./pages/SignUpPage/SignUpPage.hbs">Sign-up</a>
      </li>
      <li><a href="./pages/ChatPage/ChatPage.hbs">Chat</a></li>
    </ul>
  </main>
</body>
</html>
