<html>
<head>
  <link rel="stylesheet" href="index.scss">
</head>
<body>
  <main>
    <ul>
      <li>
        <a href="./pages/SignInPage/SignInPage.hbs">Sign-in</a>
      </li>
      <li>
        <a href="./pages/SignUpPage/SignUpPage.hbs">Sign-up</a>
      </li>
      <li><a href="./pages/ChatPage/ChatPage.hbs">Chat</a></li>
      <li><a href="./pages/ProfilePage/ProfilePage.hbs">Profile</a></li>
      <li><a href="./pages/EditProfilePage/EditProfilePage.hbs">Profile Editor</a></li>
      <li><a href="./pages/EditPasswordPage/EditPasswordPage.hbs">Password Editor</a></li>
      <li><a href="./pages/ErrorPage/ErrorPage.hbs">Error page</a></li>
      <li><a href="./pages/DeleteChatModalPage/DeleteChatModalPage.hbs">Delete chat page</a></li>
      <li><a href="./pages/ModalWithTextInputPage/ModalWithTextInputPage.hbs">Modal with text input</a></li>
      <li><a href="./pages/ModalWithFileInputPage/ModalWithFileInputPage.hbs">Modal with file input</a></li>
    </ul>
  </main>
</body>
</html>
