@use './components/Button/button.scss';
@use './styles/components/auth.scss';
@use './styles/components/authForm.scss';
@use './styles/fonts/typography.scss';
@use './components/Input/input.scss';
@use './styles/layouts/main.scss';
@use './components/AnchorLink/anchorLink.scss';
@use './components/MessagesList/messagesList.scss';
@use './components/Message/message.scss';
@use './components/Chat/chat.scss';
@use './components/ChatMessage/chatMessage.scss';
@use './components/ChatNewMessageInput/chatNewMessageInput.scss';
@use './components/FoundMessage/foundMessage.scss';
@use './components/ChatSettings/chatSettings.scss';

@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600|Josefin+Sans:300,400,400i');

* {
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    overflow: hidden;
}

body {
    height: 100vh;
}